thead  > tr {
    color:blue;
    font-weight: bold;

}



.champ {
    color:red;
}

.finals {
    color:purple;
}

.conf {
    color:orange;
}
.secondrd {
    color:green;
}

.firstrd {
    color:pink;
}

.lottery {
    color:navy;
}

.tbd {
    color:grey;
}
